<% provide(:title, 'Teams Index') %>
<h1>Teams</h1>

<h2>Team count: <%= @teams_hash.length %></h2>

  <% @teams_hash_obj.each do |team| %>
    <li>
      <% @local_team = team[1] %> 
      <%= link_to team_path(@local_team.fullname)  %> 
    </li>
  <% end %>










