<% provide(:title, @user.name) %>

<h1><%= @user.name %></h1>

<h4>Players Added: </h4>
<ul>
  <% @usesr.players.each do |player| %>
    <li>
      <%= link_to player.name, player_path(player) %>
      <%= if current_user?(@user) %>
          | <%= link_to "edit", edit_player_path(player) %>
      <% end %>    
    </li>
  <% end %>
</ul> 